 body {
  margin: 0;
  font-family: "Saira Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings;
    width: 100;
  }
  .header {
background-color: black;
display: flex;
justify-content: space-between;
 align-items: center;
  padding: 10px 50px;

   }
 .header-links button {  
 background-color: gold;
 border-radius: 15px;
  padding: 5px 15px;
color: white;
 border: none;



  }
  .header-links a {
 color: white;
 padding: 5px 15px;
 text-decoration: none;
 border-radius: 15px;
  }
   .header-links a:hover  { 
 color: rgb(53, 52, 51);
   }

    .landing-bage {
background-color: black;
 display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  color: white;
  border-radius: 59px;
    } 
    
  .landing-bage-Search input {
 border-radius: 50px;
  border: none;
  outline: none;
 height: 30px;
  padding: 0 10px;
  }