
 
 body {
  margin: 0;
  font-family: "Saira Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    width: 100;
  }
  .header {
background-color: black;
display: flex;
justify-content: space-between;
 align-items: center;
  padding: 10px 50px;
}
.logo    {
  width: 200px;

}
  .header-links a {
 color: white;
 padding: 5px 15px;
 text-decoration: none;
 border-radius: 15px;

  }
   .header-links a:hover  { 

 color: rgb(53, 52, 51);
   }
    .header-links button {
background-color: gold;
 padding: 5px 15px;
color: white;
border: none;
   }
    .landing-bage {
background-color: black;
 display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  color: wheat;
    } 
  
  
    .header-links button:hover {
 background-color: rgb(206, 177, 17);

   }


 .landing-bage-Search input {
  border-radius: 50px;
  border: none;
  outline: none;
 height: 30px;
  padding: 0 10px;
    }
     .landing-bage-Search button {
   position: absolute;
  left: 200px;

     }
     .special-img {
 border-radius: 20px;
 width: 300px;

     }
      